<h1>MBWeb - Teste Pratico Dev Junior</h1>
<h2>Clientes</h2>

<p>
  <button (click)="toggleFiltro()">
    {{ mostrandoInativos ? 'Mostrar apenas ativos' : 'Mostrar todos' }}
  </button>
</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Tipo</th>
      <th>Criado em</th>
      <th>Status</th>
      <th>Acoes</th>
    </tr>
  </thead>

  <tbody>

@for (cliente of clientes(); track cliente.id) {
  <tr>
    <td>{{ cliente.id }}</td>
    <td>{{ cliente.nome }}</td>
    <td>{{ cliente.email }}</td>
    <td>{{ cliente.tipo }}</td>
    <td>{{ cliente.criado_em }}</td>

    <td>
      @if (cliente.ativo) {
        Ativo
      } @else {
        Inativo
      }
    </td>

    <td>
      @if (cliente.ativo) {
        <button (click)="inativar(cliente.id)">Inativar</button>
      } @else {
        <button (click)="reativar(cliente.id)">Reativar</button>
      }
    </td>
  </tr>
} @empty {
  <tr>
    <td colspan="7">Nenhum cliente encontrado.</td>
  </tr>
}

  </tbody>
</table>

<router-outlet />
